/*--------------------*
*  Button Animations  *
*--------------------*/

/*        Hero        */
/*--------------------*/

.btn-hero {
    opacity: 0;
    @include fadein(0, 1);
    @include translate-background(-30px);
    @include translate-object(10px);
    animation:
        fadein 1s ease 3s,
        translate-background 1s ease 3s,
        translate-object 1s ease 3s;
    animation-fill-mode: forwards;
}



/*        Footer        */
/*----------------------*/
.btn-footer {
    opacity: 0;
    @include fadein(0, 1);
    @include translate-background(30px);
    @include translate-object(-10px);
    animation:
        fadein 1s ease 3s,
        translate-background 1s ease 3s,
        translate-object 1s ease 3s;
    animation-fill-mode: forwards;
}

/*----------------------------------------------*/

/*--------------------*
*   Hero animations   *
*--------------------*/

.hero__heading--title {
    opacity: 0;
    animation: fadein 2s ease 2s;
    animation-fill-mode: forwards;
}

.hero__heading--subtitle {
    opacity: 0;
    animation: fadein 2s ease 2.5s;
    animation-fill-mode: forwards;
}