
/* General styling of buttons */
.btn {
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding:  0 25px;
    border: solid 2px $color-secondary;
    border-radius: 22.5px;

    font-size: 20px;
    text-align: center;

    // Button from article 1: Tips
    &--tips {
        color: $color-secondary;
    }

    // Button from article 2: Reasons
    &--reasons {
        color: $color-text-white;
        background-color: $color-secondary;
    }
}