
/* General styling of buttons */
.btn {
    position: relative;
    display: inline-block;
    height: 45px;
    line-height: 45px;
    padding:  0 25px;
    border: solid 2px $color-secondary;
    border-radius: 22.5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    font-size: 20px;
    text-align: center;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

    // Button from article 1: Tips
    &--tips {
        color: $color-secondary;
        transition: color 0.3s ease;
        transform: perspective(1px) translateZ(0); //What does this do?

        &:hover {

            color: $color-text-white;
            transform: scale(1.5);
            transform: translate(-1px,-1px);
            box-shadow: 4px 11px 24px -10px rgba(0,0,0,0.6);
        }

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: $color-secondary;
            transform: scaleX(0);
            transform-origin: 0 50%;
            transition-property: transform;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
            border-radius: 22.5px;
        }

        &:hover, &:focus, &:active {
            color: white;
        }

        &:hover:before {
            transform: scaleX(1);
        }
    }

    // Button from article 2: Reasons
    &--reasons {
        color: $color-text-white;
        background-color: $color-secondary;
    }
}
