<section class="page__articles">

    <!-- Article 1: Looking through A Window -->
    <article class="article article--tips wrapper">
        <span class="tips--topic">Insomnia Tips</span>
        <h2 class="article--heading">Looking Through A Window</h2>
        <p class="article--text">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
            semper
            sodales rutrum.
        </p>
        <a class="btn btn--tips">Go</a>
    </article>

    <!-- Article 2: 3 Reasons To Purchase -->
    <article class="article article--reasons">
        <div class="wrapper">
            <h2 class="article--heading">3 Reasons To Purchase</h2>
            <ul class="article__list">
                <li class="article__list--item">
                    <h3 class="item--heading">Ut sed metus</h3>
                    <p class="article--text">
                        Lorem ipsum dolor sit amet, consecteur.
                    </p>
                </li>
                <li class="article__list--item">
                    <h3 class="item--heading">Curabitur ac erat</h3>
                    <p class="article--text">
                        Mauris mattis urna quis lorem molestie.                
                    </p>
                </li>
                <li class="article__list--item">
                    <h3 class="item--heading">Morbi dictum</h3>
                    <p class="article--text">
                        Aliquam in dolor et dolor tincidunt.                
                    </p>
                </li>
            </ul>
            <a class="btn btn--reasons">More Reasons</a>
     </div>
    </article>
</section>



<!-- Maybe add an wrapper for articles to take the space properties-->