<section class="page__articles">

    <!-- Article 1: Looking through A Window -->
    <article class="tips">
        <span class="tips--topic">Insomnia Tips</span>
        <h2 class="tips--heading">Looking Through A Window</h2>
        <p class="tips--text">
            Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
            semper
            sodales rutrum.
        </p>
        <a class="tips--button">Go</a>
    </article>

    <!-- Article 2: 3 Reasons To Purchase -->
    <article class="reasons">
        <ul class="reasons__list">
            <li class="reasons__list--item">
                <h3 class="reasons__list--item-heading">Ut sed metus</h3>
                <p class="reasons__list--item-text">
                    Lorem ipsum dolor sit amet, consecteur.
                </p>
            </li>
            <li class="reasons__list--item">
                <h3 class="reasons__list--item-heading">Curabitur ac erat</h3>
                <p class="reasons__list--item-text">
                    Mauris mattis urna quis lorem molestie.                </p>
            </li>
            <li class="reasons__list--item">
                <h3 class="reasons__list--item-heading">Morbi dictum</h3>
                <p class="reasons__list--item-text">
                    Aliquam in dolor et dolor tincidunt.                
                </p>
            </li>
        </ul>
        <a class="reasons__button">More Reasons</a>
    </article>
</section>