
<footer class="footer">

    <!-- Button arrow to the top -->
    <a class="btn-circle btn-footer" href="#"></a>

    <!-- Footer container -->
    <div class="footer__container wrapper">

        <!-- Topic navigational menu -->
        <nav class="footer__menu">
            <ul class="footer__menu--list">
                <li class="footer__menu--item">
                    <a href="#">Articles <i class="far fa-file-alt"></i></a> 
                    
                </li>
                <li class="footer__menu--item">
                    <a href="#">Books <i class="fas fa-book"></i></a>
                    
                </li>
                <li class="footer__menu--item">
                    <a href="#">Events <i class="fas fa-map-marker-alt"></i>
                    </li></a>
                    
                <li class="footer__menu--item">
                    <a href="#">Reasons <i class="fas fa-balance-scale-left"></i></a>
                    
                </li>
                <li class="footer__menu--item">
                    <a href="#">Tips <i class="fas fa-heart"></i></a>
                    
                </li>
            </ul>
        </nav>

        <!-- Social Networks menu -->
        <nav class="footer__menu">
            <ul class="footer__menu--list">
                <li class="footer__menu--item">
                    <a href="#">Twitter <i class="fab fa-twitter"></i></a>
                    
                </li>
                <li class="footer__menu--item">
                    <a href="#">Instagram <i class="fab fa-instagram"></i></a>
                    
                </li>
                <li class="footer__menu--item">
                    <a href="#">
                        Mastodon.social 
                         <i class="fab fa-mastodon"></i>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Copyright & Motto -->
        <div class="copyright-container">
            <span class="copyright">&copy;2017</span>
            <span class="motto">we <i class="fas fa-heart"></i> components</span>
        </div>
    </div>
</footer>
