
<footer class="page__footer">

    <!-- Button arrow to the top -->
    <a class="footer__button" href="#"></a>

    <!-- Footer container -->
    <div class="footer__container wrapper">

        <!-- Topic navigational menu -->
        <nav class="footer__menu">
            <ul class="menu--topics-list">
                <li class="menu--topics-item">
                    Articles
                </li>
                <li class="menu--topics-item">
                    Books
                </li>
                <li class="menu--topics-item">
                    Events
                </li>
                <li class="menu--topics-item">
                    Reasons
                </li>
                <li class="menu--topics-item">
                    Tips
                </li>
            </ul>
        </nav>

        <!-- Social Networks menu -->
        <nav class="footer__menu">
            <ul class="menu--social-list">
                <li class="menu--social-item">
                    Twitter
                </li>
                <li class="menu--social-item">
                    Instagram
                </li>
                <li class="menu--social-item">
                    Mastodon.social
                </li>
            </ul>
        </nav>

        <!-- Copyright & Motto -->
        <div class="copyright-container">
            <span class="copyright">&copy;2017</span>
            <span class="motto">we ❤️ components</span>
        </div>
    </div>
</footer>
