<footer class="page__footer">

    <!-- Topic navigational menu -->
    <nav class="footer__menu--topics">
        <ul class="menu--topics-list">
            <li class="menu--topics-item">
                Articles
            </li>
            <li class="menu--topics-item">
                Books
            </li>
            <li class="menu--topics-item">
                Events
            </li>
            <li class="menu--topics-item">
                Reasons
            </li>
            <li class="menu--topics-item">
                Tips
            </li>
        </ul>
    </nav>

    <!-- Social Networks menu -->
    <nav class="footer__menu--social">
        <ul class="menu--social-list">
            <li class="menu--social-item">
                Articles
            </li>
            <li class="menu--social-item">
                Books
            </li>
            <li class="menu--social-item">
                Events
            </li>
            <li class="menu--social-item">
                Reasons
            </li>
            <li class="menu--social-item">
                Tips
            </li>
        </ul>
    </nav>

    <!-- Copyright & Motto -->
    <div class="footer__copyright-motto">
        <span class="copyright">&copy;2017</span>
        <span class="motto">we ❤️ components</span>
    </div>
</footer>
