<header class="header" id="top">

    <!-- Menu 1 -->
    <nav class="header__menu">

        <!-- Menu 1: para abrir el menu -->
        <div class="hamburger-container hamburger-container--open" id="menu--open">
            <a href="#menu--close">
                <span class="hamburger"></span>
            </a>
        </div>

            <!-- Menu 2: Para cerrar menu -->
        <div class="hamburger-container hamburger-container--close" id="menu--close">
            <a href="#menu--open">
                <span class="hamburger"></span>
            </a>
        </div>

        <ul class="header__menu--list" id="menu-list">
            <li class="menu--item"><a href="#tips">Tips</a></li>
            <li class="menu--item"><a href="#purchase">3 Reasons to Purchase</a></li>
            <li class="menu--item"><a href="https://adalab.es/" target="_blank">Adalab</a></li>
         </ul>
    </nav>


</header>




