<header class="header" id="top">

    <!-- Menu 1 -->
    <nav class="header__menu">

        <!-- Menu 1: to open the nav list -->
        <div class="hamburger-container hamburger-container--open" id="menu--open">
            <a href="#menu--close">
                <span class="hamburger"></span>
            </a>
        </div>

        <!-- Menu 2: to close the nav list-->
        <div class="hamburger-container hamburger-container--close" id="menu--close">
            <a href="#menu--open">
                <span class="hamburger"></span>
            </a>
        </div>

        <!-- Navigational list -->
        <ul class="header__menu--list" id="menu-list">
            <li class="menu--item"><a href="#tips" title="Go to tips">Tips</a></li>
            <li class="menu--item"><a href="#purchase" title="Go to reasons to purchase">3 Reasons to Purchase</a></li>
            <li class="menu--item"><a href="https://adalab.es/" target="_blank" title="Go to Adalab">Adalab</a></li>
        </ul>
    </nav>


</header>