<section class="page__articles">
    <span id="target-article-1"></span>
    <span id="target-article-1"></span>

    <!-- Article 1: Looking through A Window -->
    <article class="article article--tips" id="tips">
        <div class="wrapper">
            <span class="tips--topic">Insomnia Tips</span>
            <h2 class="article--heading">Looking Through A Window</h2>
            <p class="article--text">
                Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus
                semper
                sodales rutrum.
            </p>
            <a class="btn btn--tips hvr-sweep-to-right">Go</a>
        </div>
    </article>
</section>


