/* Footer Section */
.footer {
    position: relative;
    background-color: $color-primary;
    color: $color-text-white;
    text-align: center;
    border: solid 1px red;

    // Footer wrapper 
    .wrapper {
        max-width: 690px;

        @include desktop {
            // It's supposed to be 537 but I choose 550px
            max-width: 590px;
        }
    }


}

.footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 15px 45px;

    @include tablet {
        justify-content: center;
        align-items: baseline;
        flex-flow: row nowrap;
        padding: 45px 39px;
        text-align: left;
    }
}

/* Footer menus */
.footer__menu {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: lighter; // Tiene que ser más light
    line-height: 1.88;
    border: solid 1px orange;

    @include tablet {
        flex: 1 1 210px;
    }

    &--item {

        a {
            display: inline-block;

        }
        .fas, .fab, .far {
            opacity: 0;
            transition: opacity .1s ease-in;
            color: salmon;
        }  

        &:hover  {
            color: $ice-blue;
            color: salmon;

        .fas, .fab, .far {
            opacity: 1;

        }
        }
    }

 

}


/* Copyright & motto */
.copyright-container {
    border: solid 1px orange;
    font-size: 14px;
    line-height: 2.14;

    .copyright, .motto {
        display: block;
    }

    .motto .fas {
        color: salmon;
    }

    @include tablet {
        order: -1;
        flex: 1 1 210px;
    }
}