/********************************************
*                  Hero                     *
********************************************/
//
//  1. Hero
//    -> Hero wrapper
//  2. Hero heading
//  3. Hero button
//
//------------------------------------------//

.hero {
    // Dimensions
    height: 100vh;
    padding-bottom: 53px;

    // Distribute elements with flex
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    // Background and fonts
    text-align: center;
    background: url(../images/cover.jpg) top center no-repeat;
    background-size: cover;

    /* Animation
       - load the animations */
    @include expand(0,100vh);
    @include fadein(0,1);
    /* - set the animations */
    animation: fadein 4s ease, expand 3s ease;

    // Media Queries
    @include tablet {
        // -> background-attachment:fixed no funciona en iphone
        background-attachment: fixed;
    }
    @include desktop {
        padding-bottom: 13px;
        height: 768px;


    }

    /*--------------*
     * Hero wrapper *
     *-------------*/
    .wrapper {
        max-width: 290px;

        @include tablet {
            max-width: 690px;
        }
    }
}


/*--------------*
*  Hero heading *
*---------------*/
.hero__heading {
    color: $color-text-white;

    &--title {
        font-family: $font-secondary;
        font-size: 42px;
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.31;
        text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

        @include tablet {
            font-size: 80px;
        }

        @include desktop {
            font-size: 100px;
        }
    }

    &--subtitle {
        position: relative;
        margin-top: 10px;
        font-weight: 400;

        @include tablet {
            margin-top: 20px;
            font-size: 24px;
        }

        @include desktop {
            margin-top: 0;
        }
    }
}




