html {
    font-family: $font-main;
    font-size: 16px;
    height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  // Breaking lines
  .linebreak {
      display: block;
  }


  // Wrapper 
//   .wrapper {
//       @include tablet {
//           max-width: 730px;
//           margin: 0 auto;
//       }
//   }


.wrapper {
    margin: 0 auto;
    border: 1px salmon solid;
}