/********************************************
*             Article: reasons              *
********************************************/
//
//  1. Article reasons
//    -> Reasons wrapper
//    -> Reasons list
//
//------------------------------------------//


.article--reasons {

    // It has more padding than normal articles
    padding-bottom: 60px;
    background-color: $color-background-light;
    text-align: center;

    /*-----------------*
     * Reasons wrapper *
     *----------------*/
    .wrapper {
        @include desktop {
            max-width: 1110px;
        }
    }

    /*--------------*
     * Reasons List *
     *-------------*/
    .article__list {
        display: grid;
        row-gap: 45px;
        width: 180px;
        margin: 45px auto;

        @include tablet {
            width: auto;
            margin: 45px auto 60px;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 27px;
        }

        .item--heading {
            font-family: $font-secondary;
            font-size: 18px;
            line-height: 1.67;

            @include tablet {
                font-size: 24px;
                padding-bottom: 14px;
            }
        }

        // Effect on purchase list items when hovered, highlight
        .article__list--item {
            transition: all 550ms cubic-bezier(0.23, 1, 0.32, 1) 0s;

            &:hover {
                transform: translate(0px, -2px);
                box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(193, 203, 212, 0.7) 0px 0px 0px 1px inset, rgb(193, 203, 212) 0px -1px 0px 0px inset;
                background-color: $white;
            }
        }
    }
}