/********************************************
*             Article: tips                 *
********************************************/
//
//  1. Article tips general
//    -> tips wrapper
//    -> tips topic (insomnia tips)
//    -> article text
//
//------------------------------------------//


.article--tips {

    /*--------------*
     * Tips wrapper *
     *-------------*/
    .wrapper {
        max-width: 690px;

        @include desktop {
            max-width: 730px;
        }
    }

    // Topic
    .tips--topic {
        font-size: 14px;
        line-height: 2.14;
        color: $color-primary-light;

        @include desktop {
            font-size: 16px;
            line-height: 1.88;
        }
    }

    // Text
    .article--text {
        margin-top: 15px;
        color: $color-text-light;
        margin-bottom: 30px;
    }
}